<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PAMStreetView.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <PAMStreetView.Properties.Settings>
            <setting name="UrlPanoAvailable" serializeAs="String">
                <value>https://www.google.com/maps/@?api=1&amp;map_action=pano&amp;viewpoint=#Latitude#%2C#Longitude#</value>
            </setting>
            <setting name="UpgradeNeeded" serializeAs="String">
                <value>True</value>
            </setting>
        </PAMStreetView.Properties.Settings>
    </userSettings>
</configuration>